            <div class="col-md-9">
                <div class="panel panel-default" >
                    <div class="panel-heading clearfix">
                        <span class="panel-title pull-left">
                         Current Inspections:   
                        </span>
                        <span class="panel-title pull-right">
                            <input type="text" placeholder="Search" ng-model="filterText"/>
                        </span>            
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed" style="border-collapse:collapse;">

            <thead>
                <tr><th>&nbsp;</th>
                    <th>Herd Number</th>
                    <th>Farmer Name</th>
                    <th>Inspection Status</th> 
                </tr>
            </thead>

            <tbody ng-repeat="herd in herds | filter:{herdNo:filterText}">
                 <tr data-toggle="collapse" data-target="#demo{{$index}}" class="accordion-toggle">
                      <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                <td>{{herd.herdNo}}</td>
                <td>{{herd.farmerName}}</td>
                <td>{{getHerdStatus(herd.instanceNo)}}</td>
                 <td><a ui-sref="tab({herdId:herd.herdNo})"><li class="glyphicon glyphicon-pencil"></li></a></td>     
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo{{$index}}"> 
                  <table class="table table-condensed">
                         <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>SMR</b></td>
                                <td><b>Status</b></td>
                                <td>&nbsp;</td>
                             </tr>
                         </thead>
                          <tbody>
                            <tr ng-repeat="smr in herd.smrs" class="info">
                                <td>&nbsp;</td>
                                <td>{{smr.name}}</td>
                                <td>{{smr.status}}</td>

                                <td><a ui-sref="tab.{{smr.name}}({herdId:herd.herdNo})"><li class="glyphicon glyphicon-pencil"></li></a></td>
                              </tr>



                          </tbody>
                    </table>

                  </div> </td>
            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>




